.cart {
  .content {
    margin: 150px auto 110px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    &__items {
      width: 60%;
      .title {
        display: flex;
        justify-content: space-between;
        li {
          color: $red;
          font-size: 22px;
          font-weight: bold;
          margin-right: 48px;
          &:first-child {
            margin: 0 auto 0 30px;
          }
          &:last-child {
            margin-right: 56px;
          }
        }
      }
      .item {
        display: flex;
        align-items: center;
        &__link {
          display: flex;
        }
        &__image {
          margin: 10px 20px 10px 30px;
          width: 100px;
          height: 140px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &__info {
          margin-bottom: auto;
          .title {
            margin: 30px auto 0;
            p {
              font-size: 20px;
              font-weight: bold;
            }
          }
          .charact {
            margin-top: 10px;
            &__size {
              display: flex;
              p {
                font-weight: 600;
              }
              .number {
                font-family: 'Poppins';
                // color: $black;
                font-size: 15px;
                font-weight: 400;
                margin-left: 5px;
              }
            }
            &__color {
              width: 20px;
              height: 20px;
              margin-top: 5px;
              border: 1px solid $red;
              .black {
                width: 100%;
                height: 100%;
                background-color: rgb(0, 0, 0);
              }
            }
          }
        }
        &__charact {
          display: flex;
          margin-left: auto;
          p {
            font-family: 'Poppins';
            font-weight: 400;
            color: $black;
            font-size: 18px;
          }
          .quantity {
            display: flex;
            align-items: center;
            padding-right: 15px;
            .quantity-btn {
              margin: 3px 15px 0;
            }
          }
          .price {
            width: 100px;
            text-align: right;
            padding: 0 15px;
            margin-right: 18px;
            p {
              font-weight: 500;
            }
          }
          .remove {
            padding-right: 20px;
          }
        }
      }
      .line {
        margin: 0 auto;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $black;
        margin-top: 10px;
        &--lighter {
          margin-top: 0;
          background-color: rgb(198, 198, 198);
        }
      }
    }
    &__other {
      display: flex;
      flex-direction: column;
      .emptycart {
        display: flex;
        align-items: center;
        padding: 0 10px 5px 0;
        margin-left: auto;
        &__text {
          background-color: white;
          padding-right: 5px;
          border: none;
          text-align: right;
          width: auto;
          color: $red;
          font-family: 'Cormorant';
          font-weight: 400;
          font-size: 20px;
        }
        &__svg {
          fill: $red;
        }
      }
      .subtotal {
        border: 1px solid rgb(145, 145, 145);
        padding: 20px 30px;
        height: fit-content;
        .subtotal__title {
          p {
            font-family: 'Poppins';
            font-weight: 400;
            color: $red;
            font-size: 22px;
          }
        }
        .subtotal__block {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          .text {
            ul {
              display: flex;
              flex-direction: column;
              li {
                font-size: 22px;
              }
            }
          }
          .prices {
            ul {
              display: flex;
              flex-direction: column;
              text-align: right;
              li {
                font-family: 'Poppins';
                font-weight: 400;
                color: $black;
                font-size: 18px;
              }
            }
          }
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .checkout {
          background-color: $red;
          border: none;
          color: white;
          cursor: pointer;
          display: inline-block;
          font-family: 'Poppins';
          font-weight: 400;
          font-size: 18px;
          padding: 13px 23px;
          text-align: center;
          width: 100%;
        }
        .continue {
          background-color: white;
          border: 1px solid $black;
          cursor: pointer;
          display: inline-block;
          padding: 13px 23px;
          text-align: center;
          width: 100%;
          margin-top: 15px;
          .continuelink {
            color: $black;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
    }
  }
}
