@import '../variables';

.categories {
  width: 16%;
  padding-left: 25px;
  overflow-x: hidden;
  ul {
    display: flex;
    flex-direction: column;

    li {
      margin-bottom: 15px;
      padding: 13px 20px;
      font-weight: bold;
      border: 1.5px solid #5b5b5b;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        color: $red;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }

  @media only screen and (max-width: 1319px) {
    width: 20%;
    min-width: 225px;
  }

  @media only screen and (max-width: 1023px) {
    height: fit-content;
    width: 70%;
    min-width: 615px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        height: fit-content;
        margin-right: 10px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    white-space: nowrap;
    ul {
      justify-content: left;
    }
  }
}
