.empty {
  width: 232px;
  margin: 20px auto;
  text-align: center;
  .continue {
    display: inline-block;
    margin-top: 15px;
    padding: 13px 23px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid $black;
    cursor: pointer;
    .continuelink {
      color: $black;
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 18px;
    }
  }
}
