.first {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__block {
    display: block;
    width: 70%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    max-width: 100%;
    max-height: 100%;
    position: relative;
    .block_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0%;
      transition: opacity 0.9s ease-in;

      &.active {
        opacity: 100%;
      }
    }
    .title {
      position: absolute;
      top: 30%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 120%;
      display: block;
      opacity: 0;
      transition: all 0.8s ease-out;
      transition-delay: 1s;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &.active {
        top: 48%;
        opacity: 100%;
      }
    }
    .text {
      position: absolute;
      top: 70%;
      left: 50%;
      z-index: 1;

      margin: 0 auto;
      width: 40%;

      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center;

      transform: translate(-50%, -20%);
      opacity: 0;
      transition: all 0.7s ease-out;
      transition-delay: 1s;

      &.active {
        top: 78%;
        opacity: 100%;
      }
    }
  }
  &__arrow {
    position: absolute;
    top: 70%;
    right: 5%;
    opacity: 0;
    transition: all 0.8s ease-out;
    transition-delay: 1.2s;

    &.active {
      top: 82%;
      opacity: 100%;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    &__block {
      width: 80%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    &__block {
      width: 85%;
      height: 70%;
      .title {
        display: flex;
        justify-content: center;
        img {
          width: 95%;
        }
      }
      .text {
        &.active {
          top: 72%;
        }
      }
    }

    &__arrow {
      right: 0%;
    }
  }

  @media only screen and (max-width: 768px) {
    &__block {
      width: 100%;
      height: 100%;
      .title {
        display: flex;
        justify-content: center;
        img {
          width: 75%;
        }
        &.active {
          top: 50%;
        }
      }
      .text {
        &.active {
          top: 68%;
        }
      }
    }
    &__arrow {
      display: none;
    }
  }
}
