.loader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 0 35px;
  height: auto;
  width: 83%;

  &__column {
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
  }

  &__rectangle {
    background-color: #dcdcdc;

    &--large {
      height: 300px;
      width: 240px;
      margin-bottom: 20px;
    }

    &--medium {
      height: 78px;
      width: 268px;
      margin: 6px 0 20px;
    }

    &--small {
      height: 24px;
      width: 240px;
      margin-bottom: 10px;
    }

    &--last {
      height: 45px;
      width: 268px;
      margin-bottom: 60px;
    }
  }
}
