.container {
  &__indent {
    padding-top: 90px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__body {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__error-message {
    margin: 0% auto 0 80px;
  }

  &__failed-search-message {
    margin: 0% auto 0 80px;
  }

  &__items {
    width: 83%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    place-items: center;
  }

  @media (max-width: 1319px) {
    &__items {
      width: 70%;
    }
  }

  @media only screen and (max-width: 1023px) {
    /* Стили для планшетов */
    &__body {
      flex-direction: column;
    }
    &__items {
      width: 100%;
      margin-top: 25px;
    }
  }

  @media only screen and (max-width: 767px) {
    /* Стили для мобильных устройств */
  }
}
